<div class="row align-items-center">
  <div class="col-sm-2">
    <div class="row justify-content-sm-start justify-content-end">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm my-1" name="_dates" value="prev">
          <i class="fa fa-backward mr-1 d-inline-block d-sm-none d-md-none d-xl-inline-block" aria-hidden="true"></i>
          Anterior
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="row justify-content-center align-items-end">
      {% spaceless %}
        {% for widget in widget.subwidgets %}
          <div class="col-sm">{% include widget.template_name %}</div>
        {% endfor %}
      {% endspaceless %}
    </div>
  </div>
  <div class="col-sm-2">
      <div class="row justify-content-sm-end justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-sm my-1" name="_dates" value="next">
            Próximo<i class="fa fa-forward ml-1 d-inline-block d-sm-none d-md-none d-xl-inline-block" aria-hidden="true"></i>
          </button>
        </div>
      </div>
  </div>
</div>