<div class="row align-items-center">
  <div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-sm my-1">Anterior</button>
  </div>
  <div class="col-sm">
    <div class="row justify-content-center">
      {% spaceless %}
        {% for widget in widget.subwidgets %}
          <div class="col-sm">{% include widget.template_name %}</div>
        {% endfor %}
      {% endspaceless %}
    </div>
  </div>
  <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-sm my-1">Próximo</button>
  </div>
</div>