{% load irpf_tags %}
<div class="card mt-1 mb-2 unsort irpfreport">
  <div class="card-header">
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsebody-{{ forloop.counter }}"
            aria-expanded="true" aria-controls="collapsebody-{{ forloop.counter }}">
      {{ item.code }}{% if item.enterprise %} - {{ item.enterprise.name }} ({{ item.enterprise.cnpj }}){% endif %}
    </button>
    <button type="button" class="btn btn-link" data-toggle="popover"
            data-content="
        {% if item.enterprise %}
          {{ item.asset.buy.quantity }}
          {% if item.enterprise.is_fii %}cota{{ item.asset.buy.quantity|pluralize:"s" }}
          {% elif item.enterprise.is_acao %}ações
          {% elif item.enterprise.is_bdr %}bdr{{ item.asset.buy.quantity|pluralize:"s" }}
          {% endif %}
          {{ item.code }} // {{ item.enterprise.name }} // {{ item.enterprise.cnpj }}
        {% else %}
          {{ item.code }}
        {% endif %}">
      <i class="fa fa-info-circle"></i>
    </button>

  </div>
  <div id="collapsebody-{{ forloop.counter }}" class="collapse show">
    <div class="card-body">
    {% if item.asset.position %}
      <h6 class="card-subtitle mb-2 mt-2 text-primary">Posição atual{% if item.asset.position.date %} ({{ item.asset.position.date }}){% endif %}</h6>
      <p class="card-text">Quantidade: {{ item.asset.position.quantity|default:0 }}</p>
      <p class="card-text">Preço médio: R$ {{ item.asset.position.avg_price|default:0|moneyformat }}</p>
      <p class="card-text">Valor total: R$ {{ item.asset.position.total|default:0|moneyformat }}</p>
      <hr/>
    {% endif %}

    {% if item.asset.sell %}
      <h6 class="card-subtitle mb-2 text-muted">Vendas do período</h6>
      <p class="card-text">Quantidade de venda: {{ item.asset.sell.quantity }}</p>
      <p class="card-text">Preço médio de venda: R$ {{ item.asset.sell.avg_price|moneyformat }}</p>
      <p class="card-text">Valor total de venda: R$ {{ item.asset.sell.total|moneyformat }}</p>
      <p class="card-text">Ganho de capital: R$ {{ item.asset.sell.capital|moneyformat }}</p>
      <hr/>
    {% endif %}

      <h6 class="card-subtitle mb-2 text-success">Posição do período</h6>
      <p class="card-text">Quantidade líquida: {{ item.asset.buy.quantity }}</p>
      <p class="card-text">Preço médio de compra: R$ {{ item.asset.buy.avg_price|moneyformat }}</p>
      <p class="card-text">Valor total de compra: R$ {{ item.asset.buy.total|moneyformat }}</p>

    {% if item.asset.earnings %}
      {% exclude_obj_keys item.asset.earnings "bonificacoes" as redimentos %}
      {% if redimentos %}
      <div class="card" style="max-width: 45rem;">
        <div class="card-header text-info">Movimentações</div>
        <ul class="list-group">
        {% for key, redimento in redimentos.items %}
          {% get_obj_val redimento "value" as rendimento_val %}
          {% get_obj_val redimento "flow" as rendimento_flow %}
           <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-start align-items-center">
              <span class="badge badge-{% if rendimento_flow == "credito" %}success{% else %}danger{% endif %} badge-pill text-monospace">
                {{ rendimento_flow }}
              </span>
              <div class="p-2">
                {% get_obj_val redimento "title" %}:<span class="text-muted m-1">R$ {{ rendimento_val|moneyformat }}</span>
              </div>
            </div>
            <span title="Quantidade" class="badge badge-secondary badge-pill">{% get_obj_val redimento "quantity" %}</span>
            </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if item.asset.earnings.bonificacoes %}
      <hr/>
      <h6 class="card-subtitle mb-2 text-info">Bonificações</h6>
        {% for bonus in item.asset.earnings.bonificacoes %}
          {% include "irpf/adminx_report_irpf_bonus_item.html" %}
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if item.enterprise and item.enterprise.bookkeeping %}
      <hr/>
      <h6 class="card-subtitle mb-2 text-info">Escriturador:
      <a href="{{ item.enterprise.bookkeeping.link }}" target="_blank">{{ item.enterprise.bookkeeping.name }}</a>
      </h6>
    {% endif %}
    </div>
  </div>
</div>