{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags %}

{% block card_list_group %}
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Quantidade</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset.sell.quantity|smart_desc }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Preço médio</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset.sell.avg_price }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Valor total
      <span class="badge badge-light badge-pill" title="Taxas">{{ asset.sell.tax }}</span>
      </div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset.sell.total }}</span>
      </div>
    </div>
  </li>
  {% if asset.sell.profits %}
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left text-success">Lucros</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset.sell.profits }}</span>
      </div>
    </div>
  </li>
  {% endif %}
  {% if asset.sell.losses %}
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left text-danger">Prejuízos</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset.sell.losses }}</span>
      </div>
    </div>
  </li>
  {% endif %}
{% endblock %}