{% extends base_template %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <form class="exform" method="get">
      <div class="form-container row clearfix">
        <div class="column form-column full col col-sm-12 form-horizontal">
          <div class="card fieldset mt-1 mb-2  unsort no_title">
            <div class="card-body">
              {{ form|crispy }}
            </div>
          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </form>
    {% if report %}
      {% for item in report.results %}
        <pre>
          {% if item.enterprise %}
          {{ item.results.compra.quantity_av }} COTAS DE {{ item.code }} / {{ item.enterprise }} / CORRETORA: {{ item.institution }}
          {% else %}
          {{ item.code }}
          {% endif %}
          Quantidade de compra:  {{ item.results.compra.quantity }}
          Preço médio de compra: {{ item.results.compra.avg_price|floatformat:2 }}
          Valor total de compra: {{ item.results.compra.total|floatformat:2 }}

          ###
          Quantidade de venda:  {{ item.results.venda.quantity }}
          Preço médio de venda: {{ item.results.venda.avg_price|floatformat:2 }}
          Valor total de venda: {{ item.results.venda.total|floatformat:2 }}
          Ganho de capital:     {{ item.results.venda.capital|floatformat:2 }}

          ###
          Quantidade líquida:    {{ item.results.compra.quantity_av }}
          Preço médio de compra: {{ item.results.compra.avg_price_av|floatformat:2 }}
          Valor total de compra: {{ item.results.compra.total_av|floatformat:2 }}
          {% if item.earnings %}
          ###
          {% if item.earnings.dividendo %}
          {{ item.earnings.dividendo.title }}:
          R$ {{ item.earnings.dividendo.value|floatformat:2 }}
          {% endif %}
          {% if item.earnings.juros_sobre_capital_proprio %}
          {{ item.earnings.juros_sobre_capital_proprio.title }}:
          R$ {{ item.earnings.juros_sobre_capital_proprio.value|floatformat:2 }}
          {% endif %}
          {% if item.earnings.bonificacao_em_ativos %}
          {{ item.earnings.bonificacao_em_ativos.title }}
          Quantidade: {{ item.earnings.bonificacao_em_ativos.quantity|floatformat:2 }}
          Valor: R$ {{ item.earnings.bonificacao_em_ativos.value|floatformat:2 }}
          {% endif %}
          {% if item.earnings.rendimento %}
          {{ item.earnings.rendimento.title }} (cumulativo):
          R$ {{ item.earnings.rendimento.value|floatformat:2 }}
          {% endif %}
          {% endif %}
        </pre>
        <hr/>
      {% endfor %}
    {% endif %}
{% endblock %}
