{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags %}

{% block card_list_group %}
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Quantidade vendida</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ item.asset.sell.quantity|smart_desc }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Preço médio de venda</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">R$ {{ item.asset.sell.avg_price|moneyformat }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Valor total de venda</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">R$ {{ item.asset.sell.total|moneyformat }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Ganho de capital</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">R$ {{ item.asset.sell.capital|moneyformat }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Taxas</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">R$ {{ item.asset.sell.tax|moneyformat }}</span>
      </div>
    </div>
  </li>
{% endblock %}