{% load irpf_tags %}
<div class="card mt-1 mb-2 unsort irpfreport irpf-card-sm asset" data-ticker="{{ asset.ticker }}">
  <div class="card-header pl-2 pr-2">
    <div class="d-flex flex-row justify-content-between">
      <button class="btn btn-link btn-block text-left text-truncate" type="button" data-toggle="collapse"
              data-target="#collapsebody-{{ forloop.counter }}"
          aria-expanded="true" aria-controls="collapsebody-{{ forloop.counter }}">
          {{ asset.ticker }}
          {% if asset.conv %} / {{ asset.conv.0.instance.code }}{% endif %}
          {% if asset.instance %} - {{ asset.instance.name }} ({{ asset.instance.cnpj }}){% endif %}
      </button>
      <div class="d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-link btn-sm mr-1" data-toggle="popover"
              data-content="
          {% if asset.instance %}
            {{ asset.buy.quantity|as_int_desc }}
            {% if asset.instance.is_fii %}cota{{ asset.buy.quantity|pluralize:"s" }}
            {% elif asset.instance.is_stock %}ações
            {% elif asset.instance.is_bdr %}bdr{{ asset.buy.quantity|pluralize:"s" }}
            {% elif asset.instance.is_subscription %}recibo{{ asset.buy.quantity|pluralize:"s"}}
            {% endif %}
            {{ asset.ticker }} // {{ asset.instance.name }} - {{ asset.instance.cnpj }}
            {% if asset.instance.administrator %} // Administrador: {{ asset.instance.administrator.name }} - {{ asset.instance.administrator.cnpj }}{% endif %}
            // {{ asset.buy.total }}
          {% else %}
            {{ asset.ticker }}
          {% endif %}">
          <i class="fa fa-info-circle"></i>
        </button>
        <button type="button" class="btn btn-link btn-sm card-expand-md">
          <i class="fa fa-expand-alt" aria-hidden="true"></i>
        </button>
      </div>
  </div>
</div>

  <div id="collapsebody-{{ forloop.counter }}" class="collapse show">
    <div class="card-body p-2">
      {% if asset.position %}
       {% include "irpf/adminx_report_irpf_asset_position.html" with card_title_class="text-primary" %}
      {% endif %}

      {% if asset.sell %}
        {% include "irpf/adminx_report_irpf_asset_sell.html" with card_title="Vendas do período" card_title_class="text-danger"%}
      {% endif %}

      {% if asset.buy %}
      {% include "irpf/adminx_report_irpf_asset_period.html" with card_title="Posição do período" card_subtitle=report.end_date card_title_class="text-success"%}
      {% endif %}

      {% if asset.credit or asset.debit %}
        {% include "irpf/adminx_report_irpf_asset_movement.html" with card_title="Movimentações" card_title_class="text-info"%}
      {% endif %}

      {% if asset.events.bonus %}
          {% include "irpf/adminx_report_irpf_bonus_item.html" with card_title_class="text-info" %}
      {% endif %}

      {% if asset.events.subscription %}
          {% include "irpf/adminx_report_irpf_subscription_item.html" with card_title_class="text-info" %}
      {% endif %}

      {% if asset.instance and asset.instance.bookkeeping %}
        <hr/>
        <p class="card-subtitle text-info">Escriturador:
        <a href="{{ asset.instance.bookkeeping.link }}" target="_blank">{{ asset.instance.bookkeeping.name }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
