{% extends base_template %}
{% load crispy_forms_tags %}
{% load xadmin_tags %}
{% block nav_title %}{{ title }}{% endblock %}

{% block nav_toggles %}
  {% include "xadmin/includes/toggle_menu.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="column form-column full col col-sm-12">
      <div class="card mt-1 mb-2 unsort no_title">
        <div class="card-body p-1">
          <div class="container-fluid">
            <form class="exform" method="{% if form_method_post %}post{% else %}get{% endif %}"
                  {% if form_method_post %}enctype="multipart/form-data"{% endif %}>
              {% if form_method_post %}{% csrf_token %}{% endif %}
              {% view_block 'exform' %}
              {% block exform %}{% endblock %}
              {% crispy form %}
              <div class="form-group row">
                <div class="col-sm align-self-center">
                  {% view_block 'form_buttons' %}
                </div>
                <div class="col-sm align-self-center">
                  <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% view_block 'form_container' %}
      {% block form_container %}{% endblock %}
    </div>
  </div>
{% endblock %}
