{% load irpf_tags %}
{% get_obj_val event "value" as event_val %}
<li class="list-group-item">
  <div class="row">
    <div class="col-sm-auto">
      <span class="badge badge-{% if type == "credit" %}success{% else %}danger{% endif %}">
        {% if type == "credit" %}crédito{% else %}débito{% endif %}
        <span title="Quantidade" class="badge badge-light badge-pill">{% get_obj_val event "quantity" %}</span>
      </span>
    </div>
    <div class="col-sm text-center">{% get_obj_val event "title" %}</div>
    <div class="col text-center">
    <span class="text-muted">R$ {{ event_val|moneyformat }}</span>
    </div>
  </div>
</li>