{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags xadmin_tags %}
{% block card_header %}
  <div class="card-header bg-transparent">
    <h5 class="card-text text-primary">Bonificações</h5>
  </div>
{% endblock %}

{% block card_body %}
<div class="card-body py-2">
  {% for bonus in item.asset.events.bonus %}
    <h6 class="card-text mb-1">
      Proporção <span class="text-muted">{{ bonus.instance.proportion }}%</span> de
      <span class="text-muted">{{ bonus.bonus_info.from_quantity }}</span> ativos no dia {{ bonus.instance.date_com }}
    </h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-2">
        <div class="row">
          <div class="col-sm-8 text-center text-sm-left">{{ bonus.event.title }}
            <button type="button" class="btn btn-link btn-sm" data-toggle="popover"
                    data-content="Rendimentos Isentos e Não-Tributáveis / Incorporação de reservas ao Capital / Bonificação em ações.">
              <i class="fa fa-info-circle"></i>
            </button>
          </div>
          <div class="col-sm-4 text-center text-sm-right btn btn-link" data-toggle="popover"
               data-content="{{ bonus.event.value }}">
            <span class="text-muted">
              {{ bonus.event.quantity|smart_desc }} ativo{{ bonus.event.quantity|pluralize }}, {{ bonus.event.value }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
{% endblock %}

{% block card_footer %}
  <div class="card-footer bg-transparent">
    {% view_block 'bonus_stats' %}
  </div>
{% endblock %}