{% extends base_template %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <form class="exform" method="get">
      <div class="form-container row clearfix">
        <div class="column form-column full col col-sm-12 form-horizontal">
          <div class="card fieldset mt-1 mb-2  unsort no_title">
            <div class="card-body">
              {{ form|crispy }}
              <div class="form-group float-right">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% if report %}
      {% for item in report.results %}
        {% include "irpf/adminx_report_irpf_item.html" %}
      {% endfor %}
    {% endif %}
{% endblock %}
