{% load irpf_tags %}
<div class="card mt-1 mb-2 unsort irpfreport">
  <div class="card-header">
    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsebody-{{ forloop.counter }}"
            aria-expanded="true" aria-controls="collapsebody-{{ forloop.counter }}">
      {{ item.code }}{% if item.enterprise %} - {{ item.enterprise.name }} ({{ item.enterprise.cnpj }}){% endif %}
    </button>
    <button type="button" class="btn btn-link" data-toggle="popover"
            data-content="
        {% if item.enterprise %}
          {{ item.results.compra.quantity }}
          {% if item.enterprise.is_fii %}cota{{ item.results.compra.quantity|pluralize:"s" }}
          {% elif item.enterprise.is_acao %}ações
          {% elif item.enterprise.is_bdr %}bdr{{ item.results.compra.quantity|pluralize:"s" }}
          {% endif %}
          {{ item.code }} / {{ item.enterprise.name }} ({{ item.enterprise.cnpj }}) /
          na corretora {{ item.institution }} /
          a um custo médio de R$ {{ item.results.compra.avg_price|moneyformat }}
        {% else %}
          {{ item.code }}
        {% endif %}">
      <i class="fa fa-info-circle"></i>
    </button>

  </div>
  <div id="collapsebody-{{ forloop.counter }}" class="collapse show">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 mt-2 text-primary">Posição atual</h6>
      <p class="card-text">Quantidade: {{ item.results.pos_quantity|default:0 }}</p>
      <p class="card-text">Preço médio: R$ {{ item.results.pos_avg_price|default:0|moneyformat }}</p>
      <p class="card-text">Valor total: R$ {{ item.results.pos_total|default:0|moneyformat }}</p>

    {% if item.results.venda %}
      <hr/>
      <h6 class="card-subtitle mb-2 text-muted">Vendas do período</h6>
      <p class="card-text">Quantidade de venda: {{ item.results.venda.quantity }}</p>
      <p class="card-text">Preço médio de venda: R$ {{ item.results.venda.avg_price|moneyformat }}</p>
      <p class="card-text">Valor total de venda: R$ {{ item.results.venda.total|moneyformat }}</p>
      <p class="card-text">Ganho de capital: R$ {{ item.results.venda.capital|moneyformat }}</p>
    {% endif %}

      <hr/>
      <h6 class="card-subtitle mb-2 text-success">Posição do período</h6>
      <p class="card-text">Quantidade líquida: {{ item.results.compra.quantity }}</p>
      <p class="card-text">Preço médio de compra: R$ {{ item.results.compra.avg_price|moneyformat }}</p>
      <p class="card-text">Valor total de compra: R$ {{ item.results.compra.total|moneyformat }}</p>

    {% if item.earnings %}
      <hr/>
      <h6 class="card-subtitle mb-2 text-info">Proventos e bonificações</h6>
      {% if item.earnings.dividendo %}
        <p class="card-text">{{ item.earnings.dividendo.title }}:
          <span>R$ {{ item.earnings.dividendo.value|moneyformat }}</span>
        </p>
      {% endif %}
      {% if item.earnings.juros_sobre_capital_proprio %}
        <p class="card-text">{{ item.earnings.juros_sobre_capital_proprio.title }}:
          <span>R$ {{ item.earnings.juros_sobre_capital_proprio.value|moneyformat }}</span>
        </p>
      {% endif %}
      {% if item.earnings.bonificacao_em_ativos %}
        <p class="card-text">{{ item.earnings.bonificacao_em_ativos.title }}</p>
        <p class="card-text">
          Quantidade: {{ item.earnings.bonificacao_em_ativos.quantity|moneyformat }},
          valor: R$ {{ item.earnings.bonificacao_em_ativos.value|moneyformat }}
        </p>
      {% endif %}
      {% if item.earnings.rendimento %}
        <p class="card-text">{{ item.earnings.rendimento.title }} (cumulativo):
          <span>R$ {{ item.earnings.rendimento.value|moneyformat }}</span>
        </p>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>