{% load irpf_tags %}
<li class="list-group-item py-2">
  <div class="row">
    <div class="col-sm-auto">
        <span class="badge badge-{{ title_class }}">{{ title }}
          <span title="Quantidade" class="badge badge-light badge-pill">{% get_obj_val event "quantity" %}</span>
        </span>
    </div>
    <div class="col-sm text-center">{% get_obj_val event "title" %}</div>
    <div class="col text-center">
      {% get_obj_val event "value" as event_value %}
      <span class="text-muted">R$ {{ event_value|moneyformat }}</span>
    </div>
  </div>
</li>