{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags xadmin_tags %}
{% block card_header %}
  <div class="card-header bg-transparent">
    <h5 class="card-text text-primary">Bonificações</h5>
  </div>
{% endblock %}

{% block card_body %}
<div class="card-body py-2">
  {% for bonus in asset.events.bonus %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-2">
        <div class="row">
          <div class="col-sm-6">
            <div class="d-flex flex-row align-items-center">
              <span class="text-nowrap text-truncate text-center text-sm-left flex-fill flex-sm-grow-0">
                {{ bonus.event.title }}
              </span>
              <button type="button" class="btn btn-link" data-toggle="popover" data-placement="top"data-trigger="hover"
                      data-content="{% if bonus.active %}Já incorporada à carteira{% else %}Incorporação pendente{% endif %}">
                {{ bonus.active|boolean_icon }}
              </button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex flex-row align-items-center">
              <button type="button" class="text-muted btn btn-link btn-block text-nowrap text-truncate text-center text-sm-right"
                      data-toggle="popover" data-placement="top"
                  data-content="{{ bonus.bonus_info.quantity|smart_desc }} ativo{{ bonus.event.quantity|pluralize }}, {{ bonus.event.value }}">
                {{ bonus.event.quantity|smart_desc|floatformat:4 }} ativo{{ bonus.event.quantity|pluralize }}, {{ bonus.event.value }}
              </button>
              <button type="button" class="btn btn-link" data-toggle="popover"
                      data-placement="top" data-html="true" data-trigger="hover"
                      data-content="Proporção <span class='text-muted'>{{ bonus.instance.proportion|floatformat:4 }}%</span> de
                                    <span class='text-muted'>{{ bonus.bonus_info.from_quantity|smart_desc }}</span> ativos no dia {{ bonus.instance.date_com }}">
                <i class="fa fa-info-circle text-success"></i>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
{% endblock %}

{% block card_footer %}
  {% if asset.bonus %}
    <div class="card-footer bg-transparent">
      {% view_block 'bonus_stats' %}
    </div>
  {% endif %}
{% endblock %}