{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags %}

{% block card_list_group %}
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Quantidade</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset_period.quantity|smart_desc }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Preço médio</div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset_period.avg_price }}</span>
      </div>
    </div>
  </li>
  <li class="list-group-item py-2">
    <div class="row">
      <div class="col-sm-8 text-center text-sm-left">Valor total
        <span class="badge badge-light badge-pill" title="Taxas">{{ asset_period.tax }}</span>
      </div>
      <div class="col-sm-4 text-center text-sm-right">
        <span class="text-muted">{{ asset_period.total }}</span>
      </div>
    </div>
  </li>
{% endblock %}