{% load irpf_tags %}

<div class="card mt-1 mb-2 unsort irpfreport">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% if report.stats.buy %}
        <li class="list-group-item">
          <div class="text-primary">Compras do período:
            <span class="text-secondary"> R$ {{ report.stats.buy|moneyformat }}</span>
          </div>
        </li>
      {% endif %}
      {% if report.stats.sell %}
        <li class="list-group-item">
          <div class="text-primary">Vendas do período:
            <span class="text-secondary">R$ {{ report.stats.sell|moneyformat }}</span>
          </div>
        </li>
      {% endif %}
      {% if report.stats.capital %}
        <li class="list-group-item">
          <div class="text-{% if report.stats.capital > 0 %}success{% else %}danger{% endif %}">
            Lucros do período:
            <span class="text-secondary">R$ {{ report.stats.capital|moneyformat }}</span>
          </div>
        </li>
      {% endif %}
      {% if report.stats.tax %}
          <li class="list-group-item">
            <div class="text-danger">Taxas:
              <span class="text-secondary">R$ {{ report.stats.tax|moneyformat }}</span>
            </div>
          </li>
        {% endif %}
    </ul>
  </div>
</div>