{% extends "irpf/adminx_report_irpf_asset_box.html" %}
{% load irpf_tags %}

{% block card_list_group %}
  {% if show_interval %}
  <li class="list-group-item py-2 text-center">
    <span class="text-muted">{{ admin_view.start_date }} até {{ admin_view.end_date }}</span>
  </li>
  {% endif %}
  {% if stats.buy %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-muted">Compras do período</div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.buy }}</span>
        </div>
      </div>
    </li>
  {% endif %}
  {% if stats.sell %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-muted">Vendas do período</div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.sell }}</span>
        </div>
      </div>
    </li>
  {% endif %}
  {% if stats.profits %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-success">
          Lucros
        </div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.profits }}</span>
        </div>
      </div>
    </li>
  {% endif %}
  {% if stats.losses %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-danger">
          Prejuízos
        </div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.losses }}</span>
        </div>
      </div>
    </li>
  {% endif %}
  {% if stats.tax %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-info">Taxas</div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.tax }}</span>
        </div>
      </div>
    </li>
  {% endif %}
  {% if stats.patrimony %}
    <li class="list-group-item py-2">
      <div class="row">
        <div class="col-sm-8 text-center text-sm-left text-muted">Patrimônio investido</div>
        <div class="col-sm-4 text-center text-sm-right">
          <span class="text-muted">{{ stats.patrimony }}</span>
        </div>
      </div>
    </li>
  {% endif %}
{% endblock %}