<div class="input-group row justify-content-sm-center justify-content-md-end">
  <button type="submit" class="btn btn-success" name="position" value="1" disabled>
    <i class="fa fa-save"></i> Gravar posição
  </button>
  <div class="input-group-append">
    <div class="d-flex flex-column p-2 bg-light rounded-right">
     <div class="custom-control custom-switch align-self-center">
      <input class="custom-control-input" type="checkbox" id="position_locked"
             aria-label="Ativa o botão salvar posição">
      <label class="custom-control-label" for="position_locked"></label>
    </div>
    </div>
  </div>
</div>